.edit {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.edit__title {
  min-width: 360px;
  span {
    font-size: 2.5rem;
    font-style: italic;
  }
}

.edit__form {
  min-width: 360px;
}

.edit__form-group {
  width: 100%;
}

.edit__input-wrapper {
  //   width: 100%;

  input {
    width: 100%;
  }
}

.edit__button-wrapper {
  margin-top: 0.5rem;
}

.edit__button {
  width: 100%;
}
